h1{
  font-family: var(--font-secondaire);

  font-size: 36px;
  color: var(--couleure-blanche);

  margin: 0;
}

h2{
  font-family: var(--font-secondaire);
  color: var(--couleure-blanche);

  font-size: 80px;
  margin: 0;
}